@charset "UTF-8";

body {
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:cornflowerblue
}

#principal {
    text-align: center;
    background-color:rgb(28, 62, 126);
    color: white;
}

h2 {
    color: rgb(28, 62, 126);
}

.basico {
color: brown;
}

.intermediario {
color: chartreuse;
}

.avançado {
color: darkorange;
}

.destaque {
    background-color: gold;
}